@import "manual.css";
p.version {
	border-top: 2px groove #8070C0;
}
p.question {
color: red;
text-align: left;
}

p.answer {
color: green;
text-align: left;
}

p.bootparam {
	background-color: #E8E4FF;
	padding-left: 4pt;
}

p.bootline {
	background-color: #EEEEEE;
	padding-left: 9pt;
	border-top: 1px groove #8070C0;
	border-left: 1px groove #8070C0;
	border-right: 1px groove #8070C0;
	border-bottom: 1px groove #8070C0;
}

h1 {
	border-bottom: 2px groove #8070C0;
}
h2 {
	background-color: #C8C0FF;
	padding-left: 4pt;
}
h3 {
	background-color: #E8E4FF;
	padding-left: 4pt;
}
h4 {
	background-color: #F4F0FF;
	padding-left: 4pt;
}
